html
  head
    block header_title 
    //- title Book Library
    link(rel='stylesheet', href = "/stylesheets/oldstyle.css") 
    //- style(type="text/css").


  body 
    block content
    block foot
